@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.74;
  transition: color 0.25s linear;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.container {
  width: 100%;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;

  @include mobile() {
    max-width: $mobile;
  }

  @include tablet() {
    max-width: $tablet;
  }

  @include desktop() {
    max-width: $desktop;
  }
}
body {
  font-family: Manrope, sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
