<main class="main" data-site="Home">
  <section class="container">
    <!-- <div class="filter-section__container container"></div> -->


    <div class="tools">
      <section class="categories">
        <ul class="categories__list">
          <li class="categories__item">
            <button class="categories__btn">
              <span class="categories__text"></span>
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__btn">
              <span class="categories__text"></span>
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__btn">
              <span class="categories__text"></span>
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__btn">
              <span class="categories__text"></span>
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__btn">
              <span class="categories__text"></span>
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__btn">
              <span class="categories__text"></span>
            </button>
          </li>
          <li class="categories__item">
            <button class="categories__btn drop-btn">
              <span class="categories__mobile">Categories</span>
              <span class="categories__tablet">Others</span>
              <svg class="icon categories__icon-down" width="14" height="8">
                <use href="./images/sprite.svg#arrow-down"></use>
              </svg>
              <svg class="icon categories__icon-top" width="15" height="9">
                <use href="./images/sprite.svg#arrow-top"></use>
              </svg>
            </button>
            <ul class="categories__list-drop visually-hidden">
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
              <li class="categories__item-drop">
                <button class="categories__btn categories__btn-drop">
                  <span class="categories__text"></span>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="calendar">
        <div class="calendar__box">
          <p class="calendar__form-title">Search date news</p>
          <div class="calendar__form">
            <div class="calendar__icon">
              <svg class="calendar__svg">
                <use href="./images/sprite.svg#calendar"></use>
              </svg>
            </div>
            <p class="calendar__form-text">Search date...</p>
            <div class="calendar__arrow-btn">
              <svg class="arrow__down-svg">
                <use href="./images/sprite.svg#calendar-arrow-down"></use>
              </svg>
              <svg class="arrow__up-svg">
                <use href="./images/sprite.svg#calendar-arrow-up"></use>
              </svg>
            </div>
          </div>
          <!-- calendar -->

          <div class="calendar__overlay">
            <div class="calendar__wrapper closed">
              <div class="calendar__header">
                <p class="calendar__title"></p>
                <div class="calendar__arrows">
                  <svg class="year__prev" id="year__prev">
                    <use href="./images/sprite.svg#calendar-arrow-prev" id="year__prev"></use>
                  </svg>
                  <svg class="year__next" id="year__next">
                    <use href="./images/sprite.svg#calendar-arrow-next" id="year__next"></use>
                  </svg>
                  <svg class="month__prev" id="month__prev">
                    <use href="./images/sprite.svg#calendar-arrow-prev" id="month__prev"></use>
                  </svg>
                  <svg class="month__next" id="month__next">
                    <use href="./images/sprite.svg#calendar-arrow-next" id="month__next"></use>
                  </svg>
                </div>
              </div>
              <div class="calendar">
                <ul class="weeks">
                  <li>Mo</li>
                  <li>Tu</li>
                  <li>We</li>
                  <li>Th</li>
                  <li>Fr</li>
                  <li>Sa</li>
                  <li>Su</li>
                </ul>
                <ul class="days"></ul>
              </div>
            </div>
          </div>

          <!-- CALENDAR BOX END -->
        </div>
      </section>
    </div>
    <div class="not-find">
      <h2 class="not-find__title">
        We haven’t found news from <br />
        this category
      </h2>
      <div class="not-find__thumb">
        <img src="./images/news-not-find.png" alt="" class="not-find__img" />
      </div>
    </div>
    <!-- <div class="not-find">
      <h2 class="not-find__title">
        We haven’t found news from <br />
        this category
      </h2>
      <div class="not-find__thumb">
        <img src="./images/news-not-find.png" alt="" class="not-find__img" />
      </div>
    </div> -->

    <ul class="news-container"></ul>
  </section>
</main>