.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    font-size: 16px;
    padding-bottom: 60px;
}

.pagination__list {
    display: flex;
    gap: 8px;
    justify-content: center;
    font-size: 18px;
}

.pagination__item {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 33px;
    min-width: 31px;
    cursor: pointer;
    background-color: lime;
    background: #F4F4F4;
    border: 1px solid #4440F6;
    border-radius: 2px;
    color: #111321;
}

.pagination__item--active {
    background-color: #4440F7;
    color: #F4F4F4;

}

.pagination__current-page {
    background-color: lime;
}